/*
 .- 2. Agregar estilos mediante frameworks o librería de CSS, implementando por ejemplo menús de navegación y botones. Los estilos los puedes agregar a tu gusto. Como se muestra en la siguiente imagen de referencia. (1 Punto)
 */

#img-navbar{width: 70px;
height: 40px;}
#imagen1{display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 341px;}